<nav class='level py-0 mb-1'>
    <div class='level-left ml-5'>
        <div class='level-item'>
            <p class='subtitle is-5 has-text-success'>
                ${{price}}
            </p>
        </div>
    </div>
    <div class='level-right'>
        <div class='level-item mr-5'>
            <p class='subtitle is-5 has-text-success'>
                {{shares_remaining}}
            </p>
        </div>
    </div>
</nav>