<footer
    class='footer'
    style='padding:20px; position:fixed; bottom:0; left:0;width:100%'
>
    <div class='content has-text-centered'>
        <p>
            <strong>Centiment</strong>
            by
            <a href='https://github.com/lunchtimewhee'>Anthony Li</a>,
            <a href='https://github.com/elangworth'>Emily Langworth</a>,
            <a href='https://github.com/frankmng'>Frank Nguyen</a>,
            <a href='https://github.com/isayahdurst'>Isayah Durst</a>.
            <a href='https://github.com/OlgaGav'>Olga Gavrushenko</a>,
        </p>
    </div>
</footer>