<section class='section is-large has-background-light'>
    <div class='container'>
        <h1 class='title py-6'>About Centiment</h1>
        <p class='subtitle'>
            <b>Welcome to Centiment,</b>
            the social media platform where you can connect with like-minded
            individuals and engage in meaningful discussions about the topics
            that matter to you. Our platform operates on a
            <b>unique model</b>
            where users can purchase access to communities using platform
            tokens.
        </p>
        <p class='subtitle'>
            What sets us apart from other social media platforms is that the
            value of each community fluctuates based on how many people purchase
            access. This means that the more popular a community is, the more
            valuable it becomes. As a result, users have the option to
            <b>sell their access to a community for a profit</b>
            if they choose to do so.
        </p>
        <p class='subtitle'>
            Not only does this model encourage users to participate in and
            contribute to meaningful discussions, it also
            <b>incentivizes the creation of high-quality content</b>
            and
            <b>fosters a sense of ownership and investment</b>
            in the communities they are a part of.
        </p>
        <p class='subtitle'>
            With Centiment, you can discover and join communities that align
            with your interests and passions, and engage with others who share
            your perspective. Plus, with the ability to earn tokens and
            potentially profit from your involvement in a community,
            <b>the possibilities are endless.</b>
        </p>
        <p class='subtitle'>
            <a href='/login'>Join Centiment</a>
            today and be a part of the future of social media!
        </p>

    </div>
</section>
<section class='section has-background-primary'>
    <div class='container'>
        <h1 class='title'>Meet the team</h1>
        <div class='columns is-multiline'>
            <div class='column is-one-fifth'>
                <div class='card'>
                    <div class='card-image'>
                        <figure class='image is-3by4'>
                            <img class="profile-pics"
                                src='https://ca.slack-edge.com/T03S65LAJ2W-U040TLDLA6S-3ffc22eb31fb-512'
                                alt=''
                            />
                        </figure>
                    </div>
                    <div class='card-content'>
                        <h3 class='title is-4'><a href="https://github.com/isayahdurst">Isayah Durst</a></h3>
                        <h4 class='subtitle is-4'>Developer</h4>
                    </div>
                </div>
            </div>
            <div class='column'>
                <div class='card'>
                    <div class='card-image'>
                        <figure class='image is-3by4'>
                            <img class="profile-pics"
                                src='https://ca.slack-edge.com/T03S65LAJ2W-U0413JTE4QG-689b05dfdbb7-512'
                                alt=''
                            />
                        </figure>
                    </div>
                    <div class='card-content'>
                        <h3 class='title is-4'><a href="https://github.com/OlgaGav">Olga Gavrushenko</a></h3>
                        <h4 class='subtitle is-4'>Developer</h4>
                    </div>
                </div>
            </div>
            <div class='column is-one-fifth'>
                <div class='card'>
                    <div class='card-image'>
                        <figure class='image is-3by4'>
                            <img class="profile-pics"
                                src='https://ca.slack-edge.com/T03S65LAJ2W-U041U1E76CQ-43b534e91b5d-512'
                                alt=''
                            />
                        </figure>
                    </div>
                    <div class='card-content'>
                        <h3 class='title is-4'><a href="https://github.com/frankmng">Frank Nguyen</a></h3>
                        <h4 class='subtitle is-4'>Developer</h4>
                    </div>
                </div>
            </div>
            <div class='column is-one-fifth'>
                <div class='card'>
                    <div class='card-image'>
                        <figure class='image is-3by4'>
                            <img class="profile-pics"
                                src='https://ca.slack-edge.com/T03S65LAJ2W-U040UPW1MMK-e59dda528fcc-512'
                                alt=''
                            />
                        </figure>
                    </div>
                    <div class='card-content'>
                        <h3 class='title is-4'><a href="https://github.com/elangworth">Emily Langworth</a></h3>
                        <h4 class='subtitle is-4'>Developer</h4>
                    </div>
                </div>
            </div>
            <div class='column is-one-fifth'>
                <div class='card'>
                    <div class='card-image'>
                        <figure class='image is-3by4'>
                            <img class="profile-pics"
                                src='https://ca.slack-edge.com/T03S65LAJ2W-U041C0S2CJD-fa0d5a2153d5-512'
                                alt=''
                            />
                        </figure>
                    </div>
                    <div class='card-content'>
                        <h3 class='title is-4'><a href="https://github.com/lunchtimewhee">Anthony Li</a></h3>
                        <h4 class='subtitle is-4'>Developer</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class='section is-small has-background-primary'></section>