<section class='section is-large has-background-light'>
    <div class='container has-text-centered'>
        <h1 class='title mb-6'>Hyper-Engaged Communities. Latest Trends.</h1>
        <h2 class='subtitle'>Centiment is the new home for viral content.</h2>
        <button class='button' id='get-started-button'>Get Started</button>

<div class="row">
    <div class="left-column">
      <h2 class="left-heading">Hyper-Engaged Communities. Latest Trends.</h2>
        <p class="left-paragraph">
            The platform operates on a unique model where users can purchase access to communities using platform tokens.
        </p>
        <a href='/about' style="color:white"><button class="btn get-started">Learn more</button></a>
    </div>
    <div class="right-column">
        <img src="./images/digital-social-art.png" >
    </div>
</div>
<section class='section is-medium has-background-primary'>
    <div class='container'>
        <h2 class='title mb-6'>Where great communities are born.</h2>
        <h3 class='subtitle'>Invest into communities that are of interest to you
            and participate in discussions with like-minded people. The price of
            access is determined by supply and demand, so popular communities
            will be worth more than less-popular ones. See if you can discover
            new trends before everyone else and profit from being an
            early-investor.</h3>
    </div>
</section>

<section class='section is-medium has-background-light'>
    <div class='container has-text-centered'>
        <h1 class='title mb-6'>Hyper-Engaged Communities. Latest Trends.</h1>
        <h2 class='subtitle'>Centiment is the new home for viral content.</h2>
        <button class='button'><a href='/about'>Get Started</a></button>
    </div>
</section>
{{!-- </section>
<section class='section is-medium has-background-white'>
    <div class='container'>
        <div class='columns mb-6'>
            <div class='column is-half content'>
                <h2 class='title'>Trade</h2>
                <ul>
                    <li>Stock market-style trading of community access: place
                        bids and asks for any community you'd like. Owning
                        shares gives you access to post content and shares to
                        thriving communities can be sold later for a profit.</li>
                    <li>Novel Orderbook system, just like a standard
                        trading-platform where ideas are traded rather than
                        stocks.</li>
                </ul>
            </div>
            <div class='column'></div>
        </div>

        <div class='columns mb-6'>
            <div class='column is-half content'></div>
            <div class='column content'><h2 class='title'>Discuss</h2>
                <ul>
                    <li>Limited Community Membership: Because access to
                        communities is traded, membership is limited. This
                        creates a sense of exclusivity and encourages focused,
                        engaged discussion within the community.</li>
                    <li>Community Moderation: Our platform is moderated to
                        ensure that discussions remain civil and on-topic.
                        Moderators are elected by the community or appointed by
                        the platform.</li>
                </ul></div>
        </div>

        <div class='columns mb-6'>
            <div class='column is-half content'>
                <h2 class='title'>Earn</h2>
                <ul>
                    <li>Earn Centiment Tokens by participating in disussions,
                        creating popular communities, and earning engagement
                        from other users. Eventually you can use those tokens to
                        customize your profil, buy unique avatars, and all sorts
                        of fun new things.</li>
                </ul>
            </div>
            <div class='column'></div>
        </div>

    </div>
</section> --}}
<script src='./js/login.js'></script>