<form id="login_form">
  <div id="login_info"></div>
  <div>
    Username: <input type = "text" id="username" placeholder="Input user name"
  </div>
    <div>
    Password: <input type = "password" id="password" placeholder="Input password"
  </div>
  <div>
    <button>Login</button> 
  </div>
</form>

<form id="signup_form">
  <h2>Join centiment today and be a part of the future of social media</h2>
  <div id="signup_info"></div>
  <div>
    <label for="avatar">Select a file:</label>
    <input type="file" id="avatar" name="avatar" accept=".jpg, .jpeg, .png">
    <div>
      First name: <input type = "text" id="first_name_signup" placeholder="Input user name"
    </div>
    <div>
      Last name: <input type = "text" id="last_name_signup" placeholder="Input user name"
    </div>
    <div>
      Username: <input type = "text" id="username_signup" placeholder="Input your username"
    </div>
    <div>
      email: <input type = "text" id="email_signup" placeholder="Input your email"
    </div>
    <div>
    Password: <input type = "password" id="password_signup" placeholder="Input password"
  </div>
  <div>
    <button>Join</button>
  </div>  
</form>

<script src="./js/login.js"></script>