<section class='section'>
    <div class='container'>
        <div class='columns'>
            <div class='column is-narrow'>
                <figure class='image is-128x128 is-rounded'>
                    <img src='{{imageURI}}' alt='Profile Picture' />
                </figure>
                <nav class='level py-4'>
                    <div class='level-left'>
                        <div class='level-item'>
                            <button class='button edit-profile-button is-primary'>Edit</button>
                        </div>
                    </div>
                </nav>
            </div>
            <div class='column'>
                <p class='title'>{{user.first_name}} {{user.last_name}}</p>
                <p class='subtitle'>@{{user.username}}</p>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Libero dolore reprehenderit in deleniti ullam commodi sequi.
                    Et similique expedita quam, numquam, doloribus officia
                    dolorum id, aperiam doloremque saepe rerum aspernatur est
                    vero. Labore facilis debitis dolor eos libero ex quaerat
                    necessitatibus dolores cupiditate beatae!</p>
            </div>
        </div>
        <hr />
    </div>

</section>

<section class="section">
  <div class="container">
      <h2 class="title has-text-centered">Portfolio</h2>
      <div class="box">
        <div class="card is-primary">
          <header class="card-header">
            <p class="card-header-title">
              Pokemon Cards
            </p>
            <button class="card-header-icon" aria-label="more options">
              <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </header>
          <footer class="card-footer">
            <a href="#" class="card-footer-item">Shares Owned 💼: </a>
            <a href="#" class="card-footer-item">Price Per Share 💲: </a>
            <a href="#" class="card-footer-item">Total Value 🤑:</a>
            <a href="#" class="card-footer-item">P/L 💪:</a>
          </footer>
          <footer class="card-footer">
            <a href="#" class="card-footer-item"><button class="button is-success mx-2">Buy</button><button class="button is-info mx-2">Go To Page</button><button class="button is-danger mx-2">Sell</button></a>
          </footer>
        </div>
      </div>

      <div class="box">
        <div class="card is-primary">
          <header class="card-header">
            <p class="card-header-title">
              Pokemon Cards
            </p>
            <button class="card-header-icon" aria-label="more options">
              <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </header>
          <footer class="card-footer">
            <a href="#" class="card-footer-item"><b>Shares Owned 💼:</b> 321</a>
            <a href="#" class="card-footer-item"><b>Price Per Share 💲:</b> 94 Cents</a>
            <a href="#" class="card-footer-item"><b>Total Value 🤑: </b>30,174 Cents</a>
            <a href="#" class="card-footer-item"><b>P/L 💪: +23,543 Cents</b></a>
          </footer>
          <footer class="card-footer">
            <a href="#" class="card-footer-item"><button class="button is-success mx-2">Buy</button><button class="button is-info mx-2">Go To Page</button><button class="button is-danger mx-2">Sell</button></a>
          </footer>
        </div>
      </div>
      <div class="box">
        <div class="card is-primary">
          <header class="card-header">
            <p class="card-header-title">
              Elon Musk
            </p>
            <button class="card-header-icon" aria-label="more options">
              <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </header>
          <footer class="card-footer">
            <a href="#" class="card-footer-item">Shares Owned 💼: </a>
            <a href="#" class="card-footer-item">Price Per Share 💲: </a>
            <a href="#" class="card-footer-item">Total Value 🤑:</a>
            <a href="#" class="card-footer-item">P/L 💪:</a>
          </footer>
          <footer class="card-footer">
            <a href="#" class="card-footer-item"><button class="button is-success mx-2">Buy</button><button class="button is-info mx-2">Go To Page</button><button class="button is-danger mx-2">Sell</button></a>
          </footer>
        </div>
      </div>
      <div class="box">
        <div class="card is-primary">
          <header class="card-header">
            <p class="card-header-title">
              ChatGPT
            </p>
            <button class="card-header-icon" aria-label="more options">
              <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </header>
          <footer class="card-footer">
            <a href="#" class="card-footer-item">Shares Owned 💼: </a>
            <a href="#" class="card-footer-item">Price Per Share 💲: </a>
            <a href="#" class="card-footer-item">Total Value 🤑:</a>
            <a href="#" class="card-footer-item">P/L 💪:</a>
          </footer>
          <footer class="card-footer">
            <a href="#" class="card-footer-item"><button class="button is-success mx-2">Buy</button><button class="button is-info mx-2">Go To Page</button><button class="button is-danger mx-2">Sell</button></a>
          </footer>
        </div>
      </div>

  </div>
</section>

<section class='section is-large'>
  {{#each topic as |portfolio-item|}}
    {{>portfolio}}
  {{/each}}

</section>

{{>edit-profile-modal}}

<script src="./js/userProfile.js"></script>