<section class='section'>
    <div class='container'>
        <div class='columns'>
            <div class='column is-narrow'>
                <figure class='image is-128x128 is-rounded'>
                    <img src='{{imageURI}}' alt='Profile Picture' />
                </figure>
                <nav class='level py-4'>
                    <div class='level-left'>
                        <div class='level-item'>
                            <button class='button edit-profile-button is-primary'>Edit</button>
                        </div>
                    </div>
                </nav>
            </div>
            <div class='column'>
                <p class='title'>{{user.first_name}} {{user.last_name}}</p>
                <p class='subtitle'>@{{user.username}}</p>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Libero dolore reprehenderit in deleniti ullam commodi sequi.
                    Et similique expedita quam, numquam, doloribus officia
                    dolorum id, aperiam doloremque saepe rerum aspernatur est
                    vero. Labore facilis debitis dolor eos libero ex quaerat
                    necessitatibus dolores cupiditate beatae!</p>
            </div>
        </div>
        <hr />
    </div>

</section>
<section class='section is-large'>
  {{#each topic as |portfolio-item|}}
    {{>portfolio}}
  {{/each}}

</section>

{{>edit-profile-modal}}

<script src="./js/userProfile.js"></script>