<div class="container is-fullhd">
  <section class="hero ">
    <div class="hero-body px-0">
      <h1 class="title">
        <p>Create a topic</p>
      </h1>
      <div class="subtitle">
        <p class="is-4">Discover the Centiment...</p>
      </div>
    </div>
  </section>

  <div class="columns">
    <div class="column is-one-fifth">
      <p class="notification is-primary">My Topics</p>
      <div>
        {{#each topics as |topic|}}
            <div>
                <a href="/topic/{{topic.id}}">
                    <span class="is-size-5">{{topic.topic_name}}</span>
                </a>
            </div>
        {{/each}}
      </div>
    </div>
    <div class="column">
      <p class="notification">New Topic</p>
        <form id="topic_form">
          <div class="field">
            <label class="label">Name:</label>
            <input type="text" class="input" id="topic_name">
          </div>
          <div class="field">
            <label for="" class="label">Price</label>
            <input type="text" class="input" id="topic_price">
          </div>
          <div class="field">
            <label for="" class="label">Description</label>
            <div class="control">
              <textarea type="textarea" class="textarea" id="topic_description"></textarea>
            </div>
          </div>
          <div class="control">
            <button class="button is-primary" type="submit">Create Topic</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="./js/topic.js"></script>
<script src="./js/logout.js"></script>